<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">

<div layout:fragment="content">
    <h1>회원 가입</h1>
    <hr>

    <form action="/members/new" method="post" th:object="${memberForm}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">이메일</label>
            <div class="col-sm-8">
                <input type="email" th:class="${#fields.hasErrors('email')}? 'form-control fieldError' : 'form-control'" th:field="*{email}" placeholder="이메일(ID)">
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">이름</label>
            <div class="col-sm-8">
                <input type="text" th:class="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'" th:field="*{name}" placeholder="이름">
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">권한</label>
            <div class="col-sm-8">
                <select class="form-control" th:field="*{memberRole}">
                    <option th:each="role : ${T(com.skbp.legal.domain.common.MemberRole).values()}"
                            th:value="${role}" th:text="${role}"></option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">비밀번호</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" th:field="*{password}" placeholder="비밀번호">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">비밀번호</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" th:field="*{passwordCheck}" placeholder="비밀번호 확인">
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg mx-auto">가입하기</button>
        </div>

    </form>

</div>

</html>