<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">

<div layout:fragment="content">
    <h1>내정보 확인 페이지입니다.</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>회원번호</th>
            <th>이메일(ID)</th>
            <th>이름</th>
        </tr>
        </thead>
        <tbody>
        <tr th:object="${member}">
            <td th:text="*{id}"></td>
            <td th:text="*{email}"></td>
            <td th:text="*{name}"></td>
        </tr>
        </tbody>
    </table>
</div>
</html>