<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="navbarFragment">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Legal Management System</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">About</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">계약<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/contract">계약 현황 조회</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/contract/request">계약 검토 의뢰</a></li>
                    </ul>
                </li>
                <li><a href="#">자문</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">게시판<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">공지사항</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><p class="navbar-btn"><a class="btn btn-info my-2 my-sm-0" sec:authorize="isAnonymous()" th:href="@{/members/new}">회원가입</a></p></li>
                <li><p class="navbar-btn"><a class="btn btn-dark my-2 my-sm-0" sec:authorize="isAnonymous()" th:href="@{/members/login}">로그인</a></p></li>

                <li><p class="navbar-btn"><a class="btn btn-dark my-2 my-sm-0" sec:authorize="isAuthenticated()" th:href="@{/members/logout}">로그아웃</a></p></li>
                <li><p class="navbar-btn"><a class="btn btn-warning my-2 my-sm-0" sec:authorize="hasRole('ROLE_MEMBER')" th:href="@{/members/myPage}">내정보</a></p></li>
                <li><p class="navbar-btn"><a class="btn btn-warning my-2 my-sm-0" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">어드민</a></p></li>
            </ul>
        </div><!--/.navbar-collapse -->
    </div>
</nav>
</html>