body {
    padding-top: 70px;
}

.fieldError {
    border-color: #bd2130;
}

.form-group p {
    margin-bottom: 0;
}

td.title {
    background-color: #9e9e9e;
    color: #ffffff;
    font-weight: bold;
}

.row {
    font-weight: bold;
    vertical-align: middle !important;
}

.input-form {
    padding: 0.35rem !important;
}

/*tooltip*/

[data-tooltip-text]:hover {
    position: relative;
}

[data-tooltip-text]:hover:after {
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.8);

    -webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
    -moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
    box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    color: #FFFFFF;
    font-size: 10px;
    content: attr(data-tooltip-text);

    margin-bottom: 10px;
    bottom: 50%;
    left: 50%;
    padding: 7px 12px;
    position: absolute;
    width: auto;
    min-width: 50px;
    max-width: 300px;
    word-wrap: break-word;

    z-index: 9999;
}

.borderless td, .borderless tr {
    border: none !important;
}

.alignDiv {
    display: flex;
    justify-content: space-between;
}
.centerDiv { text-align: center; }