<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">

<div layout:fragment="content">
    <div class="jumbotron">
        <h1>메인 페이지</h1>
        <hr>
        <a sec:authorize="isAnonymous()" th:href="@{/members/login}">로그인</a>
        <a sec:authorize="isAuthenticated()" th:href="@{/members/logout}">로그아웃</a>
        <a sec:authorize="isAnonymous()" th:href="@{/members/new}">회원가입</a>
        <a sec:authorize="hasRole('ROLE_MEMBER')" th:href="@{/members/myPage}">내정보</a>
        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">어드민</a>

    </div>
</div>

</html>