<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">

<div layout:fragment="content">
    <h1>계약 검토 상세</h1>
    <hr>
    <div th:object="${contract}">
        <table class="table border-top-0 form-group">
            <colgroup>
                <col width="15%">
                <col width="35%">
                <col width="15%">
                <col width="35%">
            </colgroup>
            <tr>
                <th class="title">의뢰부서</th>
                <td>
                    <span th:text="${contract.requestMember.deptName}"></span>
                </td>
                <th class="title">의뢰자</th>
                <td>
                    <span th:text="*{requestMember.name}"></span>
                </td>
            </tr>
            <tr>
                <th class="title">계약명</th>
                <td colspan="3"><span th:text="*{name}"></span></td>
            </tr>
            <tr>
                <th class="title">회사</th>
                <td><span th:text="*{companyName}"></span></td>
                <th class="title">계약 상대방</th>
                <td><span th:text="*{counterPartner}"></span></td>
            </tr>
            <tr>
                <th class="title">계약기간</th>
                <td>
                    <span th:text="*{startTermDate}"></span>
                    <span style="margin:0 5px 0 5px">~</span>
                    <span th:text="*{endTermDate}"></span>
                </td>
                <th class="title">계약 금액</th>
                <td>
                    <span th:text="*{contractCurrecy}"></span>
                    <span th:text="*{contractPrice}"></span>
                </td>
            </tr>
            <tr>
                <th>언어</th>
                <td></td>
                <th>표준계약서 사용여부</th>
                <td></td>
            </tr>
            <tr>
                <th class="title">계약배경 및 의뢰내용</th>
                <td colspan="3" class="input-form">
                    <div style="height: 200px" th:utext="*{contentsHtml}" />
                </td>
            </tr>
            <tr>
                <th class="title">검토 대상 계약서</th>
                <td>
                    <div id="fine-uploader1"></div>
                </td>
                <th class="title">관련자료</th>
                <td>
                    <div id="fine-uploader2"></div>
                </td>
            </tr>
        </table>
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg">등록</button>

        </div>

    </div>
</div>

</html>