<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">

<div layout:fragment="content">
    <h1>계약 검토 의뢰</h1>
    <hr>
    <form th:object="${contractRequestForm}">
        <table class="table border-top-0 form-group">
            <colgroup>
                <col width="15%">
                <col width="35%">
                <col width="15%">
                <col width="35%">
            </colgroup>
            <tr>
                <td class="title">의뢰부서
                </td>
                <td>
                    <span th:text="${authUser.deptName}"></span>
                </td>
                <td class="title">의뢰자
                </td>
                <td>
                    <span th:text="${authUser.name}"></span>
                </td>
            </tr>
            <tr>
                <td class="title">계약명
                </td>
                <td colspan="3" class="input-form"><input th:field="*{name}" class="form-control"/></td>
            </tr>
            <tr>
                <td class="title">회사
                </td>
                <td class="input-form"><input th:field="*{companyName}" class="form-control"/></td>
                <td class="title">계약 상대방
                </td>
                <td class="input-form"><input th:field="*{counterPartner}" class="form-control"/></td>
            </tr>
            <tr>
                <td class="title">계약기간
                </td>
                <td class="input-form" style="display: flex">
                    <div class="input-group date">
                        <input th:field="*{startTermDT}" type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                    </div>
                    <span style="font-size: 20px; margin:0 5px 0 5px">~</span>
                    <div class="input-group date">
                        <input th:field="*{endTermDT}" type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                    </div>
                </td>
                <td class="title">계약 금액
                </td>
                <td class="input-form">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <select class="btn btn-default" style="height: 33px" th:field="*{contractCurrecy}">
                                <option th:each="currency : ${T(com.skbp.legal.domain.contract.ContractCurrecy).values()}"
                                        th:value="${currency}" th:text="${currency.displayName}"></option>
                            </select>
                        </div><!-- /btn-group -->
                        <input type="text" class="form-control" th:field="*{contractPrice}">
                    </div><!-- /input-group -->

                </td>
            </tr>
            <tr>
                <td class="title">언어
                </td>
                <td>
                    <th:block th:each="lang : ${T(com.skbp.legal.domain.contract.ContractLanguage).values()}">
                        <input type="checkbox" th:field="*{contractLanguages}" th:value="${lang}"/>
                        <label style="margin-left:3px;font-weight: normal;" th:text="${lang.displayName}">
                        </label>
                    </th:block>
                </td>
                <td class="title">표준계약서 사용여부
                </td>
                <td>
                    <label class="radio-inline">
                        <input type="radio" th:field="*{standardContractUseYn}" value=true> 사용
                    </label>
                    <label class="radio-inline">
                        <input type="radio" th:field="*{standardContractUseYn}" value=false> 미사용
                    </label>
                </td>
            </tr>
            <tr>
                <td class="title">회신기한요청일
                </td>
                <td colspan="3">
                    <div class="input-group date">
                        <input type="text" th:field="*{dueDate}" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="title">계약체결예정시기</td>
                <td colspan="3">
                    <div style="display: flex">
                        <div class="input-group date">
                            <input type="text" th:field="*{dealFromDate}" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                        <span style="font-size: 20px; margin:0 5px 0 5px">~</span>
                        <div class="input-group date">
                            <input type="text" th:field="*{dealToDate}" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="title">신규/수정/갱신</td>
                <td colspan="3">
                    <th:block th:each="docStat : ${T(com.skbp.legal.domain.common.DocumentStatus).values()}">
                        <input type="radio" th:field="*{documentStatus}" th:value="${docStat}"/>
                        <label style="margin-left:3px;font-weight: normal;" th:text="${docStat.displayName}">
                        </label>
                    </th:block>
                    <div id="dvOriginContract" style="display: none; margin-left: 50px;">
                        <span>원 계약번호</span>
                        <button type="button" class="btn btn-default" style="margin-left: 5px;"><i class="glyphicon glyphicon-zoom-in"></i></button>
                    </div>
                    <p>* 수정 : 계약기간 중 계약내용의 변경의 경우</p>
                    <p>* 수정 : 계약기간 중 계약내용의 변경의 경우</p>
                </td>
            </tr>
            <tr>
                <td class="title">계약배경 및 의뢰내용
                </td>
                <td colspan="3" class="input-form">
                    <input type="hidden" th:field="*{contents}">
                    <div id="editor" style="height: 150px"></div>
                </td>
            </tr>
            <tr>
                <td class="title">검토 대상 계약서<br/>
                ※ PDF 업로드 불가
                </td>
                <td>
                    <div id="fine-uploader1"></div>
                </td>
                <td class="title">관련자료
                </td>
                <td>
                    <div id="fine-uploader2"></div>
                </td>
            </tr>
            <tr>
                <td class="title">참조부서(열람가능)
                </td>
                <td>
                    <button type="button" class="btn btn-default" style="margin-left: 5px;"><i class="glyphicon glyphicon-zoom-in"></i></button>
                </td>
                <td class="title">참조자(열람가능)
                </td>
                <td>
                    <button type="button" class="btn btn-default" style="margin-left: 5px;"><i class="glyphicon glyphicon-zoom-in"></i></button>
                </td>
            </tr>
            <tr>
                <td class="title">관련 계약/자문 등
                </td>
                <td colspan="3">
                    <button type="button" class="btn btn-default" style="margin-left: 5px;"><i class="glyphicon glyphicon-zoom-in"></i></button>
                </td>
            </tr>
        </table>
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg">등록</button>
        </div>

    </form>
</div>

<th:block layout:fragment="script">
    <script type='text/javascript'>
        $( document ).ready(function() {
            $('input[type=radio][name=documentStatus]').change(function() {
                if (this.value === 'NEW') {
                    $('#dvOriginContract').css("display", "none");;
                }
                else {
                    $('#dvOriginContract').css("display", "inline");;
                }
            });

        });

        $('.input-group.date').datepicker({
            language: "ko",
            autoclose: true,
            todayHighlight: true,
        });

        var quill = new Quill('#editor', {
            modules: {
                toolbar: [
                    [{'header': [1, 2, 3, 4, 5, 6, false]}],
                    ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
                    ['blockquote', 'code-block'],

                    [{'list': 'ordered'}, {'list': 'bullet'}],
                    [{'indent': '-1'}, {'indent': '+1'}],          // outdent/indent

                    [{'color': []}, {'background': []}],          // dropdown with defaults from theme
                    [{'align': []}],

                    ['clean']                                         // remove formatting button
                ]
            },
            placeholder: 'Compose an epic...',
            theme: 'snow'
        });


        $('form').submit(function () {
            var formData = $(this).serializeObject();

            var checks = $('input[type="checkbox"][name="contractLanguages"]:checked').map(function() {
                return $(this).val();
            }).get();

            formData.contractLanguages = checks

            var contractContents = document.querySelector('input[name=contents]');
            contractContents.value = JSON.stringify(quill.getContents());

            formData.contentsHtml = quill.root.innerHTML;

            console.log(formData);

            $.ajax({
                url: '/api/contract/new',
                type: 'POST',
                contentType: "application/json;charset=UTF-8",
                dataType: 'json',
                data: JSON.stringify(formData),
                timeout: 600000,
                success: function (result) {
                    popupModal('Message', '<p>저장에 성공하였습니다.</p>')
                    $('#modalMessage').on('hidden.bs.modal', function (e) {
                        $(location).attr('href', '/contract')
                    })

                },
                error: function (result) {
                    var innerHtml = convertErrorMessage(result.responseText);
                    popupModal('Error Message', innerHtml)

                },
                complete: function (result) {
                }
            });
            return false;
        });

        //파일 업로드
        $('#fine-uploader1').fineUploader(getFineUploaderConfig('contract','typeA'));

        $('#fine-uploader1').find('#btn-upload').click(function () {
            $('#fine-uploader1').fineUploader('uploadStoredFiles');
        });

        $('#fine-uploader2').fineUploader(getFineUploaderConfig('contract','typeB'));

        $('#fine-upload2').find('#btn-upload').click(function () {
            $('#fine-upload2').fineUploader('uploadStoredFiles');
        });

    </script>
</th:block>
</html>